
<!--------
<div class="card" style="width: 18rem;" *ngFor = "let data of newsData.articles , let i = index">
    <img src="{{data.urlToImage}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{data.title}} </h5>
      <p class="card-text">{{data.publishedAt}} </p>
      <button type="button" class="btn btn-primary" (click) = "getDetails(i)">getDetails</button>
    </div>
  </div>
---->







<div class="container">
    <div class="justify-content-start">
        <a routerLink = "/home">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQEaEDVKsVN0yzpgJQFHFTiidpwJBaGooUOJPF3B8OZmIP5VjLU" style="height: 100px;">
            </a>
    </div>
</div>







<div>
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
          <div class="searchbar">
            <input class="search_input" type="text" name="" placeholder="Search..." [(ngModel)] ="searchText">
            <a class="search_icon"(click) ="search()" ><i class="fas fa-search"></i></a>
          </div>
        </div>
      </div>
</div>










<div class="container">
    <div class="pagination">
        <div  style="display: flex; margin: 10px ;">
            <div style="margin-left: 24px;" *ngFor = "let x of noOfPages" (click)="setpageno(x)">
            <button class="btn btn-outline-secondary">{{x +1}} </button>    
            </div> 
         </div>
    </div>
</div>






<!-------
<div class="container">
	<div class="row">
		<div class="col col-xs-12 .col-sm-12 .col-md-6 .col-lg-4">
                        <div class="blog-grids">
                            <div class="grid" *ngFor = "let data of valueDisplayed , let i = index">
                                <div class="entry-media">
                                    <img src="{{data.urlToImage}}" alt="">
                                </div>
                                <div class="entry-body">
                                    <span class="cat">{{data.source.name}} </span>
                                    <h3>{{data.title}}</h3>
                                    
                                    <div class="read-more-date">
                                        <button type="button" class="btn btn-primary" (click) = "getDetails(data.title)">Read More ..</button>
                                        <span class="date">{{data.publishedAt | date :'short'}}</span>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
	</div>
</div>

---->

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-4" *ngFor = "let data of valueDisplayed , let i = index">
            <div class="blog-grids" >
                <div class="grid">
                    <div class="entry-media">
                        <img src="{{data.urlToImage}}" alt="">
                    </div>
                    <div class="entry-body">
                        <span class="cat">{{data.source.name}} </span>
                        <h3>{{data.title}}</h3>
                        
                        <div class="read-more-date">
                            <button type="button" class="btn btn-primary" (click) = "getDetails(data.title)">Read More ..</button>
                            <span class="date">{{data.publishedAt | date :'short'}}</span>
                        </div>
                    </div>
                </div>


            </div>
        </div>

 


    </div>
</div>



