



<!-------
<div class="container">
	<div class="row">
		<div class="col col-xs-12" style="margin: auto;">
                        <div class="blog-grids">
                            <div class="grid">
                                <div class="entry-media">
                                    <img src="{{data.urlToImage}}" alt="">
                                </div>
                                <div class="entry-body">
                                    <span class="cat">{{data.source.name}} </span>
                                    <h3>{{data.title}}</h3>
                                    
                                    <div class="read-more-date">
                                        <button type="button" class="btn btn-primary" (click) = "getDetails(data.title)">Read More ..</button>
                                        <span class="date">{{data.publishedAt | date :'short'}}</span>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
	</div>
</div>
--->

<div class="container">
    <div class="justify-content-start">
        <a routerLink = "/home">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQEaEDVKsVN0yzpgJQFHFTiidpwJBaGooUOJPF3B8OZmIP5VjLU" style="height: 100px;">
            </a>
    </div>
</div>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href='http://fonts.googleapis.com/css?family=Anton|Dancing+Script:400,700|Open+Sans:400,700,800,300' rel='stylesheet' type='text/css'>
<div class="container">
    <div class="row blog-row bg-color-white block-padding">
        <div class="col-xs-12 col-sm-12 col-md-12">

            
            <div class="row blog-title">
            	<a href="{{data.url}}" target="_blank">{{data.title}}</a>
            </div>
            
            <div class="row blog-image center-block">
                <figure class="effect-layla">
                    <img src="{{data.urlToImage}}">
                    <figcaption></figcaption>
                </figure>
            </div>
            <div class="row blog-date">
                {{data.publishedAt | date :'short'}}
            </div>
          
          <!-------
          
            <div class="row blog-content">
                <h3>Description :</h3>
                <div class="blog-row-spacing"></div>
                <h4>{{data.description}}</h4>
            </div>
            <div class="row blog-content">
                <h3>Author:</h3>
                <div class="blog-row-spacing"></div>
                <h4>{{data.author}}</h4>
            </div>
        --->
        
        <div class="bs-callout bs-callout-danger">
            <h2>Description</h2>
            <h3>
                {{data.description}}
            </h3>

         </div>
        
         <div class="bs-callout bs-callout-danger">
            <h2>Author</h2>
            <h3>
                {{data.author}}
            </h3>

         </div>

         <div class="bs-callout bs-callout-danger" *ngIf="data.content">
            <h2>Content</h2>
            <h3>
                {{data.content}}
            </h3>

         </div>
         <div class="bs-callout bs-callout-danger" *ngIf="data.content">
            <h2>Source</h2>
            <h3>
                {{data.source.name}}
            </h3>

         </div>
        
        </div>
    </div>

	<div class="blog-row-spacing"></div>
	

	<div class="blog-row-spacing"></div>
</div>